{% extends 'base.html' %}

{% load static %}
{% block content %}
<div class="wrapper">
    <section id="aboutus" class="about-us-section py-5" style="background-color: #f8f9fa;">
        <div class="container">
            <div class="about-us-container row">
                <div class="about-us-text col-md-6">
                    <h2 class="display-4">ABOUT US</h2>
                    <p>Welcome to Bula Rentals, your premier car rental service in Fiji, where we make your journey smooth and stress-free. At Bula Rentals, we pride ourselves on offering a diverse range of vehicles to suit every need, from budget-friendly options to luxurious rides and eco-friendly choices. What sets us apart is our commitment to exceptional customer service—our dedicated team ensures a seamless rental experience, so you can focus on enjoying the beauty of Fiji. Whether you're here for business or leisure, Bula Rentals is here to provide the perfect vehicle for your adventure.</p>
                    <a href="contact_us" class="btn btn-danger">Come Say Hello!</a>
                </div>
                <div class="about-us-image col-md-6">
                    <img src="{% static 'images/rangerover.webp' %}" alt="Range Rover" class="img-fluid">
                </div>
            </div>
        </div>
        
        <div class="container mission-container mt-5">
            <div class="row">
                <div class="mission-image col-md-6">
                    <img src="{% static 'images/Mission pic.webp' %}" alt="Car Keys" class="img-fluid">
                </div>
                <div class="mission-text col-md-6">
                    <h2 class="display-4">OUR MISSION</h2>
                    <p>We provide all customers with a seamless and stress-free car rental experience. We strive to make the process of renting a car convenient and efficient! We are constantly looking for ways to improve our service, and we are working hard to stay ahead of the competition.</p>
                    <a href="contact_us" class="btn btn-danger">Learn More</a>
                </div>
            </div>
        </div>
    </section>
    
    <section class="aboutus-services-container py-5"">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-4 aboutus-service-item mb-4">
                    <img src="{% static 'images/taxi-x-.svg' %}" alt="Fleet Selection Icon" class="img-fluid mb-3">
                    <h3>Fleet Selection</h3>
                    <p>Our company offers a wide range of vehicles for you to choose from, including economy cars, sedans, SUVs, vans, and trucks.</p>
                </div>
                <div class="col-md-4 aboutus-service-item mb-4">
                    <img src="{% static 'images/thumbs-up-2-x-.svg' %}" alt="Roadside Assistance Icon" class="img-fluid mb-3">
                    <h3>Roadside Assistance</h3>
                    <p>Our service gives you peace of mind when you're on the road, knowing that help is just a phone call away.</p>
                </div>
                <div class="col-md-4 aboutus-service-item mb-4">
                    <img src="{% static 'images/insurance-x-.svg' %}" alt="Insurance Icon" class="img-fluid mb-3">
                    <h3>Insurance</h3>
                    <p>Our insurance policies are designed to give you peace of mind and make your rental experience as stress-free as possible.</p>
                </div>
            </div>
        </div>
    </section>
    
    <section class="aboutus-pricing-container py-5" style="background-color: #d7c49e;">
        <div class="container text-center">
            <h2 class="display-4 mb-3">Great Pricing, Transparent Policies, Flexible Fuel and Mileage Options.</h2>
            <p class="lead">Don’t just take our word for it – check out our customer reviews and testimonials to see why so many people have trusted us with their rental needs. We’re here to make your trip as smooth and enjoyable as possible. So why wait? Book your rental car with us today!</p>
        </div>
    </section>
    
    <section class="aboutus-services-section py-5">
        <div class="container">
            <h2 class="text-center mb-4">Our Fleet</h2>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <img src="{% static 'images/kuga-suv.webp' %}" alt="Car 1" class="img-fluid">
                </div>
                <div class="col-md-4 mb-4">
                    <img src="{% static 'images/honda-2363-1717179591.webp' %}" alt="Car 2" class="img-fluid">
                </div>
                <div class="col-md-4 mb-4">
                    <img src="{% static 'images/Explorer.webp' %}" alt="Car 3" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    
    <section class="aboutus-cta-container bg-light text-center py-5">
        <div class="container">
            <p class="lead">Come take a look at our awesome fleet and choose your best option!</p>
            <a href="fleet" class="btn btn-primary">Proceed to Fleet</a>
        </div>
    </section>
</div>
{% endblock%}