{% extends 'base.html' %}

{% load static %}
{% block content %}
    <section class="manage-booking-header-section bg-light text-center py-5" style="background-image: url('static/images/managebookingpage.webp');">
        <div class="container">
            <h2 class="display-4 mb-3 text-white font-weight-bold">Manage Booking</h2>
            <p class="lead text-white font-weight-bold">Login to view the details for your reservation</p>
        </div>
    </section>
    <div class="wrapper">
        <section class="manage-booking-container bg-light py-5">
            <div class="container">
                <div class="manage-booking-content text-center">
                    <p class="manage-booking-instruction">Use your email address and reference ID to view reservation details.</p>
                    <form class="manage-booking-form">
                        <input type="email" class="manage-booking-input form-control mb-3" placeholder="Email address" required>
                        <input type="text" class="manage-booking-input form-control mb-3" placeholder="Reference ID" required>
                        <button type="submit" class="manage-booking-button btn btn-primary">Manage</button>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock%}