{% extends 'base.html' %}

{% load static %}
{% block content %}
<section class="fleet-header-section">
    <h2>COME TAKE A LOOK AT OUR AWESOME FLEET AND CHOOSE YOUR BEST OPTION!</h2>
    <p>Our company offers a wide range of vehicles for you to choose from, including economy cars, sedans, SUVs, vans and trucks. Our service gives you peace of mind when you're on the road, knowing that help is just a phone call away.</p>
</section>

<!-- Search Form -->
<form class="searchbuttonform" method="get" action="{% url 'vehicle_search' %}" class="d-flex">
    
    <select name="brand" class="form-control me-2">
        <option value="">All Brands</option>
        <option value="BMW" {% if brand_filter == 'BMW' %}selected{% endif %}>BMW</option>
        <option value="Volkswagen" {% if brand_filter == 'Volkswagen' %}selected{% endif %}>Volkswagen</option>
        <option value="Mazda" {% if brand_filter == 'Mazda' %}selected{% endif %}>Mazda</option>
        <option value="Lexus" {% if brand_filter == 'Lexus' %}selected{% endif %}>Lexus</option>
        <option value="Tesla" {% if brand_filter == 'Tesla' %}selected{% endif %}>Tesla</option>
        <option value="Maserati" {% if brand_filter == 'Maserati' %}selected{% endif %}>Maserati</option>
        <option value="Mercedes-Benz" {% if brand_filter == 'Mercedes-Benz' %}selected{% endif %}>Mercedes-Benz</option>
        <option value="Honda" {% if brand_filter == 'Honda' %}selected{% endif %}>Honda</option>
        <option value="Ford" {% if brand_filter == 'Ford' %}selected{% endif %}>Ford</option>
        <option value="Chevrolet" {% if brand_filter == 'Chevrolet' %}selected{% endif %}>Chevrolet</option>
        <option value="Toyota" {% if brand_filter == 'Toyota' %}selected{% endif %}>Toyota</option>
        <option value="Nissan" {% if brand_filter == 'Nissan' %}selected{% endif %}>Nissan</option>
        <option value="Chrysler" {% if brand_filter == 'Chrysler' %}selected{% endif %}>Chrysler</option>
        <option value="Jeep" {% if brand_filter == 'Jeep' %}selected{% endif %}>Jeep</option>
        <option value="Kia" {% if brand_filter == 'Kia' %}selected{% endif %}>Kia</option>
        <option value="Hyundai" {% if brand_filter == 'Hyundai' %}selected{% endif %}>Hyundai</option>
    </select>

    <select name="size" class="form-control me-2">
        <option value="">All Sizes</option>
        <option value="Small" {% if size_filter == 'Small' %}selected{% endif %}>Small</option>
        <option value="Medium" {% if size_filter == 'Medium' %}selected{% endif %}>Medium</option>
        <option value="Large" {% if size_filter == 'Large' %}selected{% endif %}>Large</option>
    </select>

    <select name="classes" class="form-control me-2">
        <option value="">All Classes</option>
        <option value="Economy" {% if classes_filter == 'Economy' %}selected{% endif %}>Economy</option>
        <option value="Hybrid" {% if classes_filter == 'Hybrid' %}selected{% endif %}>Hybrid</option>
        <option value="Premium" {% if classes_filter == 'Premium' %}selected{% endif %}>Premium</option>
        <option value="Luxury" {% if classes_filter == 'Luxury' %}selected{% endif %}>Luxury</option>
    </select>
    <input class="form-control me-2" type="text" name="q" placeholder="Search" aria-label="Search" value="{{ request.GET.q }}" maxlength="50">

    <button class="btn-outline-success" type="submit">Search</button>
</form>
<!-- End of Search Form -->

<section class="fleet-section">
    <div class="fleet-section-vehicle-container">
        {% if vehicles %}
        {% for vehicle in vehicles %}
            <div class="vehicle">
                <div class="vehicle-image">
                    <img src="{% static vehicle.image_url %}" alt="{{ vehicle.brand }} {{ vehicle.model }}">
                    <ul class="list-group list-group-horizontal w-100 mb-3 mt-4 border-top pt-3">
                        <li class="list-group-item flex-fill d-flex align-items-center justify-content-center gap-1 p-2 border-0" title="{{ vehicle.seating_capacity }} passengers">
                          <span class="bi bi-person-fill h3 m-0 d-flex lh-1" aria-hidden="true"></span>
                          <span class="h5 fw-normal m-0 lh-1">{{ vehicle.seating_capacity }}</span>
                        </li>
                    </ul>
                </div>
                <div class="vehicle-details">
                    <div class="vehicle-class">{{ vehicle.size }}: {{ vehicle.classes }}</div>
                    <h3 class="vehicle-name">{{ vehicle.brand }} {{ vehicle.model }}</h3>
                    <p class="vehicle-description">{{ vehicle.description }}</p>
                    <button class="book-btn">Book Now</button>
                </div>
                <div class="vehicle-price">
                    <h1> Price from: </h1>
                    <p class="price">${{ vehicle.daily_rate }}</p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No vehicles available at this time. Please check back later.</p>
    {% endif %}
    </div>
</section>
{% endblock%}