{% extends 'base.html' %}

{% load static %}
{% block content %}
<section class="fleet-section">
    <div class="fleet-section-vehicle-container">
        {% if vehicles %}
            {% for vehicle in vehicles %}
                <div class="vehicle">
                    <div class="vehicle-image">
                        <img src="{% static vehicle.image_url %}" alt="{{ vehicle.brand }} {{ vehicle.model }}">
                        <ul class="list-group list-group-horizontal w-100 mb-3 mt-4 border-top pt-3">
                            <li class="list-group-item flex-fill d-flex align-items-center justify-content-center gap-1 p-2 border-0" title="{{ vehicle.seating_capacity }} passengers">
                              <span class="bi bi-person-fill h3 m-0 d-flex lh-1" aria-hidden="true"></span>
                              <span class="h5 fw-normal m-0 lh-1">{{ vehicle.seating_capacity }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="vehicle-details">
                        <div class="vehicle-class">{{ vehicle.size }}: {{ vehicle.classes }}</div>
                        <h3 class="vehicle-name">{{ vehicle.brand }} {{ vehicle.model }}</h3>
                        <p class="vehicle-description">{{ vehicle.description }}</p>
                        <button class="book-btn">Book Now</button>
                    </div>
                    <div class="vehicle-price">
                        <h1> Price from: </h1>
                        <p class="price">${{ vehicle.daily_rate }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No vehicles available at this time. Please check back later.</p>
        {% endif %}
    </div>
</section>
{% endblock%}