{% extends 'base.html' %}

{% load static %}
{%block content %}
{% include 'partials/messages.html' %}
<section id="homebooking-hero" class="homebooking-hero-image">
    <div class="homebooking-hero-section">
        <div class="homebooking-hero-content">
            <div class="WelcomeNote">
                <h4 class="animated-text">
                    <span class="rainbow-letter">B</span>
                    <span class="rainbow-letter">U</span>
                    <span class="rainbow-letter">L</span>
                    <span class="rainbow-letter">A</span>
                </h4>
                <h2 class="animated-text"> RENTALS </h2>
            </div>
            <h1>RENT A CAR!</h1>
            <div class="homebooking-form-container">
                <form action="#" method="post">
                    <div class="homebooking-form-group">
                        <label for="homebooking-pickup-date"><i class="fa fa-calendar"></i> Pick-up Date</label>
                        <input type="date" id="homebooking-pickup-date" name="pickup_date" required>
                    </div>
                    <div class="homebooking-form-group">
                        <label for="homebooking-pickup-time"><i class="fa fa-clock"></i> Pick-up Time</label>
                        <input type="time" id="homebooking-pickup-time" name="pickup_time" required>
                    </div>
                    <div class="homebooking-form-group">
                        <label for="homebooking-return-date"><i class="fa fa-calendar"></i> Return Date</label>
                        <input type="date" id="homebooking-return-date" name="return_date">
                    </div>
                    <div class="homebooking-form-group">
                        <label for="homebooking-return-time"><i class="fa fa-clock"></i> Return Time</label>
                        <input type="time" id="homebooking-return-time" name="return_time" required>
                    </div>
                    <div class="homebooking-form-group">
                        <label for="homebooking-car-type">Car Type</label>
                        <select id="homebooking-car-type" name="car-type">
                            <option value="sedan">Sedan</option>
                            <option value="suv">SUV</option>
                            <option value="truck">Truck</option>
                            <option value="van">Van</option>
                        </select>                        
                    </div>
                    <button type="submit" class="homebooking-herobtn-primary">Make a Reservation</button>
                </form>
            </div>
        </div>
    </div>
</section>

    <section id="about" class="about-section">
        <h1> ____________</h1>
        <h2>ABOUT US</h2>
        <p> At Bula Rentals, we are passionate about providing exceptional car rental services to make your journey through Fiji unforgettable. Established with a vision to offer a unique and hassle-free rental experience, we take pride in standing out from the competition by offering a diverse fleet of vehicles, unparalleled customer service, and an unwavering commitment to convenience.</p>
        <h3> Our Commitment to You </h3>
        <p> At Bula Rentals, our mission is to provide you with a reliable, enjoyable, and worry-free rental experience. We continuously strive to improve our services and exceed your expectations. When you choose Bula Rentals, you choose a company that values your time, comfort, and peace of mind.</p>
        <p1> Thank you for choosing Bula Rentals. We look forward to being a part of your adventure </p1>
               
    </section>

    <section id="services" class="services-section">
        <h1> ____________</h1>
        <h2>OUR SERVICES/OFFERS</h2>
        <div class="car">
            <img src="{% static 'images/Sedan.webp' %}" alt="Car">
            <h3>Daily Rentals</h3>
            <h4>now $60 per day </h4>
            <p>Rent for a day and save big with our daily specials! Book Now and enjoy a stress-free drive today!</p>
        </div>
        <div class="car">
            <img src="{% static 'images/suv.webp' %}" alt="Car">
            <h3>Weekend Offer </h3>
            <h4>now $200 per weekend </h4>
            <p>Take a break from the hustle and bustle with our weekend getaway package. Book now and get ready for an adventure!</p>
        </div>
        <div class="car">
            <img src="{% static 'images/ToyotaTacoma.webp' %}" alt="Car">
            <h3>Weekly Rentals </h3>
            <h4>now $500 per week </h4>
            <p>Drive in style with our weekly rental deals. Book your next vacation today and enjoy the freedom of the open road!</p>
        </div>
        <div>
            <button type="submit" class="servicebook-btn" > Book Now </button> 
            <a href="fleet" class="viewfleetservice-btn">View Fleet</a>
        </div> 
    </section>

    <section class="Feedback-Section">
        <h1> ____________</h1>
        <h2>REVIEWS</h2>
        <p> Read what our customers have to say about our vehicles and services. </p>
            <div class="cl-feedback">
                <img src="{% static 'images/profile head.jpg' %}" alt="profilepic">
                <p>I've been using Bula Rentals for all my business trips for the past year and I couldn't be happier. The cars are always in top condition and the staff is incredibly helpful and friendly. I highly recommend Bula Rentals to anyone in need of a reliable rental car.</p>
                <h3>Ian Kumar</h3>
            </div>
            <div class="cl-feedback">
                <img src="{% static 'images/profile head.jpg' %}" alt="profilepic">
                <p>I recently took my family on a road trip and rented a van from Bula Rentals. The experience was seamless and the van was in great condition. I will definitely be using Bula Rentals for all my future rental needs.</p>
                <h3> Devang Rathod </h3>
            </div>
    </section>

    <section class="contact-section">
        <div class="contact-image">
            <img src="{% static 'images/Contact Us.jpeg' %}" alt="Contact Us Image">
        </div>
        <div class="contactimage-details">
            <h1>____________</h1>
            <h2>Contact Us</h2>
            <p>Email: <a href="mailto:contact@rentacar.com">bularentals@rentacar.com</a></p>
            <p>Phone: <a href="tel:1234567890">+679-8007890</a></p>
            <p>Address: Westpac Street, Laucala Bay, Suva, Fiji </p>
            <a href="contact_us" class="contactsec-btn">Contact Us</a>
        </div>
    </section>
{% endblock %}